/* import google fonts poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* stylesheet start here  */
body{
    margin: 0;
    padding: 0;
    font-family: "poppins";
}

/* navbar style code start  */
header{
    display: flex;
    background-color: #2D25A0;
    align-items: center;
    justify-content: space-between;
}
nav{
    margin-bottom: 0px;
}
nav ul li{
    display: inline-block;
    padding-top: 42px;
    margin:0px 18px;
}
nav ul li,a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
nav ul li a:hover{
    color: #E02C6D;
}
nav ul{
    margin: 0px;
}
.checkbtn{
    float: left;
    cursor: pointer;
    margin-top: 30px;
    color: #E02C6D;
    display: none;
}
#check{
    float: left;
    display: none;
    line-height: 90px;
}

/* log in style  */
.login{
    list-style: none;
    margin-top: 42px;
    margin-right: 120px;
}
.login a{
    color: white;
    padding: 5px 10px;
    background-color: #E02C6D;
}

/* navbar style code end  */

.top-banner{
    padding-top: 49px;
    padding-bottom: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D25A0;
}
.first-container{
    margin-right: 102px;
}
.container h2{
    font-size: 45px;
    font-weight: 700;
    color: white;
}
.container li{
    list-style: none;
}
.container a{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #ffffff;
    font-weight: 400;
    font: 16px;
}
.container a:hover{
    transition: 1s;
    color: #E02C6D;
    background-color: rgba(0, 255, 255, 0.603);
}
.fa-arrow-right{
    padding-left: 8px;
}
.container img{
    width: 556.01px;
    height: 438px;
}

/* players section code here  */
.players-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 70px;
}
.player img{
    width: 330px;
    height: 256px;
}
.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    background-color: lightblue;
    margin: 0px 15px 15px 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px lightsteelblue;
}
.player p{
    font-size: 16px;
    color: #6C6C6C;
}

/* section three code start here  */
.match{
    display: flex;
    justify-content: center;
    margin-bottom: 158px;
}
.match-highlight{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-top: 165px;
}
.frist-highlight{
    width: 469px;
    height: 241px;
    margin-right: 66px;
}

.highlight h2{
    font-size: 48px;
    font-weight: 700;
    margin: 0px;
}
.highlight p{
    margin-bottom: 24px;
}
.highlight li{
    list-style: none;
}
.highlight li a{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #ffffff;
    font: 16px;
    font-weight: 400;
}
.highlight a:hover{
    transition: 1s;
    color: #E02C6D;
    background-color: rgba(0, 255, 255, 0.603);
}
.highlight img{
    width: 567px;
    height: 427px;
}

/* footer section code start here  */

.logo-socialmedia{
    text-align: center;
}
.social-logo img{
    width: 483.87px;
    height: 110px;
}
.icon li{
    list-style: none;
    display: inline;
    margin: 20px 0px;
}
.icon a{
    font-size: 32px;
    text-decoration: none;
    color: gray;
    padding: 14px;
}

/* all section code end  */


/* -------------------------*\
| mediaquary code start here  |
\*--------------------------*/


/* navbar code start here  */
@media (max-width:767px) {
    .checkbtn{
        position: fixed;
        display: block;
        font-size: 40px;
        margin-left: 40px;
        margin-top: -10px;
    }

    nav ul li{
        display: block;
    }
    nav ul{
        position: fixed;
        height: 100vh;
        left: -100%;
        top: 80px;
        text-align: center;
        padding: 40px;
        background-color: #e02c6e;
        transition: 1s;
        border-radius: 0px 10px 0px 0px;
        box-shadow: 0px 0px 10px lightslategray;
    }
    nav ul li:hover a{
        color: white;
    }

    #check:checked ~ nav ul{
        left: 0;
    }

}
@media (max-width:888px) and (min-width:761px) {
    .login{
        margin-right: 5px;
    }

}

@media (max-width:762px) {
    .login{
        margin-right: 21px;
    }
}



/* navbar code end  */

@media (max-width:1023px) {
    .container img{
        width: 356.01px;
        height: 238px;
    }
    .first-container{
        margin-right: 70px;
    }
    .container h2{
        font-size: 35px;
        font-weight: 700;
        color: white;
    }

    .players{
        grid-template-columns: repeat(2,1fr);
    }

    .match{
        margin-bottom: 23px;
    }
    .match-highlight{
        grid-template-columns: repeat(2,1fr);
        margin: 60px;
    }
    .highlight h2{
        font-size: 20px;
        width: 290px;
    }
    .highlight img{
        width: 328px;
        height: 248px;
        margin-top: 29px;
    }
    .frist-highlight{
        width: 329px;
        height: 299px;
        margin-right: 0px;
    }

    .Highlights-matchs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width:774px) {
    .top-banner{
        padding-top: 67px;
        padding-bottom: 86px;
        display: flex;
        flex-direction: column;
    }
    .container img{
        margin-top: 50px;
        width: 329px;
        height: 259px;
    }


    /* player  */

    .players{
        grid-template-columns: repeat(1,1fr);
    }


    /* match  */
    .match{
        margin-bottom: 23px;
    }
    .match-highlight{
        grid-template-columns: repeat(1,1fr);
        margin: 60px;
    }
    .highlight h2{
        font-size: 30px;
        width: 329px;
    }
    .highlight img{
        width: 328px;
        height: 248px;
        margin-top: 29px;
    }
    .frist-highlight{
        width: 329px;
        height: 299px;
        margin-right: 0px;
    }

    .Highlights-matchs{
        display: flex;
        justify-content: center;
        align-items: last baseline;
    }

    /* footer  */
    .logo-socialmedia{
        margin-bottom: 187px;
    }
    .social-logo img{
        width: 271px;
        height: 63px;
    }
    .icon a{
        width: 170px;
        height: 32px;
    }

}


@media (max-width:470px) {
    .container{
        margin-left: 20px;
    }

}